---
layout: default
---
<header class="home-profile">
  <div class="home-avatar">
    <a href="{{ site.theme_config.home_avatar_link | default: '/posts/' }}">
      <img
        src="{{ site.theme_config.home_avatar_url }}"
        alt="{{ site.author | default: site.title }}"
        title="{{ site.author | default: site.title }}"
      >
    </a>
  </div>

  {%-if site.theme_config.show_description-%}
    <p class="home-subtitle">{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}
